.overview-container {
    margin: 20px 20px 0px 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 60%;
}

.overview-title {
    font-size: "1.3rem"
}

.overview-desc {
    color: #ACACAC;
    font-size: "0.8rem";
    padding-bottom: "15px"
}


.chart {
    padding-top: 10px;
    width: 100%;
    height: 220px;
}

@media (max-width: 1220px) {
    .overview-container {
        width: 100%;
    }
}