* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media(max-width: 550px) {

  .dashboard-wrapper {
    left: 50px;
    padding: 5px;
  }

  .sidebar-container {
    padding: 5px;
    width: 50px !important;
  }

  .nav-item {
    padding: 10px 5px;
    margin: auto;
  }

  .user-profile img {
    width: 40px;
  }

  .earn-item .icon-container {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
  }

  * {
    font-size: 0.75rem;
  }

  h2 {
    font-size: 1rem;
  }

}